.esferas{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3.5rem;
}

.fila1, .fila2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.esfera1, .esfera2 , .esfera3 , .esfera4 , .esfera5{
    width: 220px;
    height: 220px;
    color:$a0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5.5px 10px 20px $shadow-color;
}

.esfera1{
    background-color: $esf1-bc;
}
.esfera2{
    background-color: $esf2-bc;
}
.esfera3{
    background-color: $esf3-bc;
}
.esfera4{
    background-color: $esf4-bc;
}
.esfera5{
    background-color: $esf5-bc;
}