.grid-cont{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto;
    grid-template-areas:
    "s1 s2 ."
    "s3 s3 s3"
}

.sect1{
    grid-area: s1;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 275px;
    height: auto;
    padding: 0.3rem 1.2rem 0rem 1.2rem;
    font-size: 1.15rem;
    box-shadow: -2px 2px 20px $shadow-color;
    border-radius: 1rem;
    h2{
        text-align: center;
    }
    img{
        margin: 0.2rem 0rem 1rem 0rem;
        width: 100%;
    }
}

.sect2{
    grid-area: s2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    img{
        width: 550px !important; 
        height: 400px;
        margin: 0.2rem 1rem 0.2rem 0rem;
        border-radius: 1rem;
    }
}

.sect3{
    grid-area: s3;
    text-align: center;
    h2{
        padding-top: 1rem;
    }
    img{
        margin: 0.9rem
    }
}

.carousel{
    width: 550px; 
    height: 400px;
}

.chicas{
    width: 100px;
}

.medianas{
    width: 200px;
    height: 95px;
}

.grandes{
    width: 280px;
    height: 84px;
}

.subnot{
    text-decoration: underline;
}

.subins{
    margin: 1.5rem 0rem 1rem 0rem;
    text-align: center;
}

.subins1{
    margin-bottom: 1rem;
    text-align: center;
}
