@media (max-width: 929px){
    .foot{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 929px){
    .seguinos{
        margin: 1rem 0rem 0rem 0rem;
    }
}

@media (max-width: 929px){
    .comunicate{
        margin: 0rem 0rem 1rem 0rem;
    }
}