@media (max-width: 710px) {
    .nuestros2 h2{
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .nuestros h2{
        font-size: 2rem;
    }
}

@media (max-width: 1200px) {
    .prodserv2{
        flex-wrap: wrap;
    }
}

@media (max-width: 565px) {
    .con h2{
        font-size: 3rem;
    }
}

@media (max-width: 710px) {
    .con h3{
        font-size: 2rem;
    }
}

@media (max-width: 565px) {
    .con h3{
        font-size: 1.5rem;
    }
}