$a0: white;

$a1: black;

$body-bc: #f8f8f8;

$shadow-color: #000000b0;

$title-color: #5271FF;

$footer-bc: #5271FF;

$cards-bc: #D9D9D9;

$esf1-bc: #1A1D57;

$esf2-bc: #5271FF;

$esf3-bc: #ABB7F4;

$esf4-bc: #6571A2;

$esf5-bc: #768DF6;

$index-button: #888888;